@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome-safe gradient text */
.gradient-text {
    background: linear-gradient(90deg, #06b6d4 0%, #8b5cf6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* Firefox */
    color: transparent;
  }
  